@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
}

.about {
    display: block;
}

h1 {
    font-weight: 400;
    letter-spacing: -0.3px;
    font-size: 24px;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 24px;
}

h2 {
    font-size: 16px;
    padding-top: 32px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
    font-size: 14px;
    padding-top: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 21px;
}

img {
    display: block;
}

.bio {
    margin-top: 0;
    display: block;
    font-size: 16px;
}

.social {
    padding-top: 24px;
}

.social svg {
    width: 18px;
    height: 18px;
    margin-top: 0;
    padding-right: 18px;
    display: block;
    float: left;
}

.links {
    padding-top: 24px;
    margin-top: 48px;
}



@media (min-width: 0px) {
    .page {
        padding-left: 20px;
        padding-top: 20px;
        width: 300px;
    }

    .avatar {
        display: none;
    }

    .left-column {
        width: 300px;
        display: block;
    }

    .right-column {
        display: block;
        width: 280px;
        height: 220px;
        margin-bottom: 80px;
        float: left;
        padding-top: 20px;
        padding-right: 20px;
    }

    .links {
        margin-top: 0px;
        display: inline-block;
    }

    .links a {
        padding-right: 6px;
    }

    .social {
        display: none;
    }

}
    
@media (min-width: 480px) {
    .page {
        width: 460px;
    }

    .left-column {
        width: 460px;
    }

    .right-column {
        width: 420px;
        height: 200px;
    }
    
    .avatar {
        float: left;
        width: 199px;
        display: block;
    }

    .details {
        display: block;
        float: left;
        width: 200px;
        padding-left: 24px;
    }

    .details h1 {
        padding-top: 0px;
    }
}

@media (min-width: 900px) {
    .page {
        padding-left: 100px;
        padding-top: 80px;
        width: 800px;
    }

    .left-column {
        width: 199px;
        float: left;
        display: block;
    }

    .right-column {
        float: left;
        display: block;
        width: 500px;
        padding-top: 156px;
        padding-left: 50px;
        margin-bottom: 80px;
    }

    .avatar {
        float: none;
    }

    .details {
        display: block;
        float: none;
        width: 199px;
        padding-left: 0px;
    }

    .details h1 {
        padding-top: 12px;
    }

    .social {
        display: block;
    }

    .links {
        margin-top: 48px;
        display: inline-block;
    }

    .links a {
        display: block;
        padding-right: 0px;
    }
}


@media (min-width: 1200px) {
    .page {
        padding-left: 100px;
        padding-top: 80px;
        width: 950px;
    }

    .left-column {
        width: 199px;
        float: left;
        display: block;
    }

    .right-column {
        float: left;
        display: block;
        width: 600px;
        padding-top: 156px;
        padding-left: 50px;
        margin-bottom: 80px;
    }
}

