<section class="about">
    <img src="../img/avatar.png" class="avatar" />
    <section class="details">
        <h1>Samuel James Bell</h1>
        <p class="bio">
            AI researcher;<br />
            wannabe linguist;<br />
            software engineer.
        </p>
        <section class="social">
            <a href="https://github.com/samueljamesbell">
                <img src="../img/github.svg" />
            </a>
            <a href="https://keybase.io/samueljamesbell">
                <img src="../img/keybase.svg" />
            </a>
            <a href="https://www.linkedin.com/in/samueljamesbell">
                <img src="../img/linkedin.svg" />
            </a>
            <a href="https://angel.co/samueljamesbell">
                <img src="../img/angellist.svg" />
            </a>
        </section>

        <section class="links">
            <a href="{% link index.md %}">Home</a>
            <a href="{% link research.md %}">Research</a>
        </section>
    </section>
</section>
